<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Share Your Idea(s)!</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Share Your Idea(s)!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02"
            aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api-docs">API Documentation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container" style="margin-top: 15px;">
        <h2>Idea List</h2>
        <button style="margin-bottom: 25px;" class="btn btn-success" data-toggle="modal" data-target="#myModalAdd">Add
            New</button>
        <table class="table table-striped table-bordered" id="mytable">
            <thead>
                <tr>
                    <th style="text-align: center; vertical-align:middle;">ID</th>
                    <th style="text-align: center; vertical-align:middle;">Name</th>
                    <th style="text-align: center; vertical-align:middle;">Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td style="text-align: center; vertical-align:middle;">{{ id }}</td>
                    <td>{{ name }}</td>
                    <td style="text-align: center; vertical-align:middle;">
                        <a href="javascript:void(0);" class="btn btn-sm btn-info detail" data-id="{{ id }}"
                            data-name="{{ name }}" data-description="{{ description }}">Detail</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-warning edit" data-id="{{ id }}"
                            data-name="{{ name }}" data-description="{{ description }}">Edit</a>
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger delete" data-id="{{ id }}">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Modal Add Idea-->
    <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Idea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                        </div>

                        <div class="form-group">
                            <textarea name="description" class="form-control" placeholder="Description" style="height: 200px;" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal Detail Idea-->
    <form>
        <div class="modal fade" id="DetailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Detail Idea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" name="name" class="form-control-plaintext name" placeholder="Name" readonly>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-form-label col-sm-2">Description:</label>
                            <div class="col-sm-10">
                                <textarea name="description" style="margin-left:10px; height: 200px;" class="form-control-plaintext description" placeholder="Description" readonly></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal Update Idea-->
    <form action="/update" method="post">
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Idea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control name" placeholder="Name" required>
                        </div>

                        <div class="form-group">
                            <textarea name="description" class="form-control description" placeholder="Description" style="height: 200px;" required></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Modal Delete Idea-->
    <form id="add-row-form" action="/delete" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Idea</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong>Are you sure to delete this data?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="form-control delete_idea" required>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="/assets/js/jquery-3.5.1.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            //Datatables
            var table = $('#mytable').DataTable({
                responsive: true,
                "columnDefs": [{
                    "targets": [2],
                    "orderable": false
                }]
            });

            //showing data to detail modal
            $('#mytable').on('click', '.detail', function () {
                var id = $(this).data('id');
                var name = $(this).data('name');
                var description = $(this).data('description');
                $('#DetailModal').modal('show');
                $('.name').val(name);
                $('.description').val(description);
                $('.id').val(id);
            });
            //showing data to edit modal
            $('#mytable').on('click', '.edit', function () {
                var id = $(this).data('id');
                var name = $(this).data('name');
                var description = $(this).data('description');
                $('#EditModal').modal('show');
                $('.name').val(name);
                $('.description').val(description);
                $('.id').val(id);
            });
            //showing delete record modal
            $('#mytable').on('click', '.delete', function () {
                var id = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('.delete_idea').val(id);
            });

        });
    </script>
</body>

</html>